* {box-sizing: border-box;}
.caption_border {
  width: 400px;
  margin: 50px auto 0;
  border: 5px solid #E5BF23;
  background: white;
  padding: 10px;
}
.caption_border img {
  max-width: 100%;
  height: auto;
  display: block;
}
.caption_border figcaption {
  padding: 10px;
  color: white;
  background: #E5BF23;
  text-align: center;
  text-transform: uppercase;
}

* {
  box-sizing:border-box;
}
/* body {
  
   background-color: #fafafa; 
} */
textarea {
  margin: 50px auto 0;
  width:200px;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:45px;
}
button {

  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;

  /* usual styles */
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:60;
  border-radius:5px;
  width: 100px;

}

.News_id{
  padding: 2px;
}
